<div class="container-lg mt-5 mb-4">

    <div class="table-wrapper text-center">

        <div class="row text-center">

            <h2>Les commentaires de {{user.name}}</h2>

        </div>

        <table class="table table-bordered border-dark" style="background-color: #BAD2B0;">
            <thead>
                <tr class="text-center">

                    <th>Commentaires <i class="fa-sharp fa-solid fa-sort"></i></th>
                    <th>Date de création <i class="fa-sharp fa-solid fa-sort"></i></th>
                    <th>Actions </i></th>
                </tr>
            </thead>

            <tbody>
                {{#each commentaire}}
                <tr>

                    <td>{{description}}</td>
                    <td>{{moment createdAt format= "DD/MM/YYYY"}} à {{moment createdAt format="HH:mm"}}</td>
                    <td class="text-center">
                       
                        <form method="POST" enctype="application/x-www-form-urlencoded"
                            action="/deleteComment/{{_id}}/?_method=delete">

                            <button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")' type="submit"
                                class="btnSuppComAvisClients"><i class="fa-solid fa-trash"></i>Supprimer</button>

                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>


        </table>
        <div class="paginationavisClients" aria-label="Page navigation example  ">
            <ul class="pagination">
                {{#paginate pagination type="first"}}
                <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}">Début</a>
                </li>
                {{/paginate}}

                {{#paginate pagination type="previous"}}
                <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link"
                        href="?p={{n}}">Précedent</a>
                </li>
                {{/paginate}}

                {{#paginate pagination type="middle" limit=pagination.pageCount}}
                <li {{#if active}} class="pageNumber active" {{/if}}><a class="page-link" href="?p={{n}}">{{n}}</a></li>
                {{/paginate}}

                {{#paginate pagination type="next"}}
                <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link"
                        href="?p={{n}}">Suivant</a></li>
                {{/paginate}}

                {{#paginate pagination type="last"}}
                <li {{#if disabled}}class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}">Dernier</a>
                </li>
                {{/paginate}}
            </ul>
        </div>


    </div>

</div>