

    <div class="container-lg mt-5 mb-4">

        <div class=" table-responsive text-center" style="width: 100%;">
            
                <div class="row text-center">
                    
                        <h2>Utilisateurs</h2>
                   
                </div>
           
            <table class="tableauGestion table-bordered border-dark " >
                <thead>
                    <tr class="text-center">
                        <th scope="col">Nom <i class="fa-sharp fa-solid fa-sort"></i></th>
                        <th scope="col">Role <i class="fa-sharp fa-solid fa-sort"></i></th>
                        <th scope="col">Email <i class="fa-sharp fa-solid fa-sort"></i></th>
                        <th scope="col">Date de création <i class="fa-sharp fa-solid fa-sort"></i></th>
                        <th scope="col">Actions </th>
                    </tr>
                </thead>
              
                <tbody>
                   {{#each data}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{role}}</td>
                        <td>{{email}}</td>
                        <td>{{moment createdAt format= "DD/MM/YYYY"}} à<br> {{moment createdAt format="HH:mm"}}</td>
                        <td class="text-center">
                            <a class="btn  " href="/updateUser/{{_id}}" style="width: 100%; background-color: #66b1f2;"><i class="fa-solid fa-pen-to-square"></i> Modifier </a>
                    <form method="POST" enctype="application/x-www-form-urlencoded"
                    action="/deleteUser/{{_id}}/?_method=delete">
                    <button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")' type="submit" class="btn  " style="width: 100%; background-color: #ee9a9a;"><i class="fa-solid fa-trash"></i> Supprimer</button>
                </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
               

            </table>
        </div>

    </div>
