<main class="mainInscription">

{{#if updateUsers}}

<section id="sectionInscription">
    <h1 class="h1TitreInscription">Modification d'utilisateur</h1>
    
    <form class="FormulaireInscription" method="POST" enctype="application/x-www-form-urlencoded" action="/updateUser/{{users._id}}/?_method=put"
        class="border border-1 border-dark p-3 rounded-5">
        {{#if AdMod}}
             <select name="role" class="form-control" id="exampleFormControlSelect1">
                    <option>{{users.role}}</option>
                    <option>Admin</option>
                    <option>Moderateur</option>
                    <option>User</option>
                </select>
        {{/if}}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Nom utilisateur</label>
            <input id="InputInscription" name="name" class="form-control" type="text" placeholder="Nom d'utilisateur" value="{{users.name}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input id="InputInscription" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                value="{{users.email}}">
        </div>
        
            
        </div>
        
        {{#if errors}}
    <div class="row justify-content-center">
        <div >
            <ul class="list-group">
                {{#each errors}}
                <li class="list-group-item list-group-item-danger">{{this.msg}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
        <button type="submit" class="btn btn-primary"> Modifier</button>
        
    </form>
<form method="POST" enctype="application/x-www-form-urlencoded"
                    action="/deleteUser/{{userId}}/?_method=delete">
        <button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")' type="submit" class="btn btn-danger " style="width: 100%;"><i class="fa-solid fa-trash"></i> Supprimer le profil</button>
         </form>
</section>

{{else}}
<section id="sectionInscription" >
    <h1 class="h1TitreInscription">Formulaire d'inscription</h1>

    <form class="FormulaireInscription" action="/inscription" method="POST"
        enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="nameInscription">Nom d'utilisateur:</label>
            <input id="nameInscription" name="name" class="form-control" type="text" placeholder="Nom d'utilisateur" value="{{get.name}}">
        </div>
        <div class="form-group">
            <label for="InputInscription">adresse email:</label>
            <input id="InputInscription" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="email" value="{{get.email}}">
        </div>
        <div class="form-group">
            <label for="myInput">Mot de passe:</label>
            <input id="myInput" name="password"  type="password" class="inputInscription form-control" id="exampleInputPassword1"
                placeholder="Mot de passe">
            
        </div>
        <div class="form-group mb-3 ">
            <label for="myInput2">Confirmation de mot de passe:</label>
            <input id="myInput2" name="confirmPassword" type="password" class="inputInscription form-control rounded-right" id="exampleInputPassword2"
                placeholder="Confirmation de mot de passe">
            <input  type="checkbox" onclick="myFunction2(),myFunction()"> Voir vos mots de passe.
        </div>

        
{{#if errors}}
    <div class="row justify-content-center">
        <div >
            <ul class="list-group">
                {{#each errors}}
                <li class="list-group-item list-group-item-danger">{{this.msg}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}

        <button type="submit" class="btn btn-primary">Valider</button>

    </form>

</section>

{{/if}}


</main>